@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
--root{
  --background-color: #F9FAFB;
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* transition: all 0.5s ease-in-out; */
}

body{
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer
}

.banner{
  background: url("./assets/mobile.jpg");
  min-height: 50vh;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.block{
  transition: display 0.5s ease-in-out;
}

.hidden{
  transition: display 0.5s ease-in-out;
}

@keyframes example {
  from {top: 0px;}
  to {top: 50px;}
}

.toast {
  position: fixed;
  top: 0px;
  right: 200px;
  animation-name: example;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  transition: display 0.5s ease-in-out;
}

@layer utilities {
  .icon-social{
    @apply text-[50px] hover:text-primary cursor-pointer w-1/4 xsm:w-auto inline-block mb-5 mr-3;
  }
}
svg{
  cursor: pointer;
  
}

@media only screen and (min-width:600px){
  .banner{
  background: url("./assets/tablet.jpg");
  min-height: 50vh;
  background-size: 100% 100%;


  }
}

@media only screen and (min-width:1024px){
  .banner{
    background: url("./assets/laptop.jpg");
    min-height: 70vh;
    
    background-size: 100% 100%;

  }
}